# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle and Maven build output directory
build
target

### Intellij IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### H2-Database ###
*.db

# Environment variables
.env

# Ignore DB files
db/
data/
